<div class="ajax formulaire_spip formulaire_configurer formulaire_#FORM">
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV**{message_erreur})</p>]

	<form method="post" action="#ENV{action}"><div>
		#ACTION_FORMULAIRE{#ENV{action}}
		<div class="editer-groupe">

			[(#SAISIE{oui_non, visibilite_publie,
				label=<:depublication:cfg_visibilite_publie:>,
				explication=<:depublication:cfg_visibilite_publie_explication:>,
				defaut=''})]

			[(#SAISIE{oui_non, visibilite_previsu,
				label=<:depublication:cfg_visibilite_previsu:>,
				explication=<:depublication:cfg_visibilite_previsu_explication:>,
				defaut=''})]
			
			[(#REM)<!-- Choix des objets depubliables-->]
			[(#SAISIE{choisir_objets, depublie_objets,
				label=Choisir les objets dépubliables,
				defaut=#LISTE{spip_articles}})]
		</div>
		<p class='boutons'>
			<input type='submit' class='submit' value='<:bouton_enregistrer|attribut_html:>' />
		</p>
	</div></form>
</div>
